<!-- button trigger modal -->
<div class="col-md-9 col-md-offset-3">
<a class="btn btn-success" data-toggle="modal" data-target="#myModal" href="#" style="color:white">
Assign a Task
</a>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">New Task</h4>
      </div>
      <div class="modal-body">

<%= form_for(@task) do |task| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= task.label :user_id %><br>
    <%= task.select :user_id, options_for_select(user_list, @task.user_id) %>
  </div>
  <div class="field">
    <%= task.label :notification %><br>
    <%= task.text_area :notification, rows: 3, cols: 74 %>
  </div>
    <%= task.hidden_field :ticket_id, value: @ticket.id %>
      <div class="modal-footer" style="text-align:left; padding-left:0px">
        <%= task.submit "Submit", class: "btn btn-primary" %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </div>
    </div>
  </div>
</div>
<% end %>
