<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#ticket" role="tab" data-toggle="tab">Customer Info</a><li>
   <% unless @ticket.tasks.empty? %>
     <li><a href="#tasks" role="tab" data-toggle="tab">Tasks</a><li>
   <% end %>
   <% unless @ticket.notes.empty? %>
     <li><a href="#notes" role="tab" data-toggle="tab">Notes</a><li>
   <% end %>
</ul>

<div class="tab-content" style="padding:20px;">
  <div class="tab-pane fade fade in active" id="ticket">
    <%= render 'form' %>
  </div>
  <div class="tab-pane fade" id="tasks">
    <%= render partial: 'tasks' %>
  </div>
  <div class="tab-pane fade" id="notes">
    <%= render partial: 'notes' %>
  </div>
</div>
<%= render partial: 'tasks/form' %>
<%= render partial: 'notes/form' %>
<%= render partial: 'links' %>

